{% extends 'base_template.html' %}

{% load static %}

{% block content %}

<style>

    .profile {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;

        width: 100%;
        height: 40vh;
    }

    .head {
        margin: 3rem 0;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .info {
        display: flex;
        justify-content: space-evenly;
    }

    .user-info {
        margin-left: 2rem;
    }
    
    .profile-pic {
        max-width: 200px;
    }

    .username {
        font-size: 2.4rem;
    }

    section {
        padding: 2rem;
    }

</style>

    <img src="{{ account.backdrop.url }}" alt="Background">
    <!-- <img src="{% static 'img/home_backdrop.jpg'%}" alt=""> -->
    
    <div class="white profile">
        <div class="container">
            
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="head">
                    <div class="info">
                        <img src="{{ account.profile_pic.url }}" class="circle profile-pic" alt="Profile picture"/>
                        <div class="user-info">
                            <span class="username">{{ form.username }}</span>
                            {{ form.email }}
                            <p>Joined {{ account.date_created }}</p>
                        </div>
                    </div>

                    <input type="submit" class="waves-effect waves-light btn cyan lighten-2" value="Save Changes" />
                </div>

                <section>
                    <h3>About</h3>
                    <p>{{ form.bio }}</p>
                </section>

                <section>
                    <h3>Projects</h3>
                </section>

                <section>
                    <h3>Contact</h3>
                    {{ form.site }}
                </section>

            </form>
        </div>
    </div>

{% endblock%}