{% extends 'base_template.html' %}

{% load static %}

{% block content %}
    
    <div class="row">

        <div class="col s9 full-height">

            <h2>Your Projects</h2>
            
            <div class="project-light">
                {% for project in project_list %}

                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'img/default.jpg' %}" alt="Project">
                            <span class="card-title">{{ project.title }}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ project.summary }}</p>
                        </div>
                        <div class="card-action">
                            <a href="">Open Project</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock%}