html, body {
    margin: 0;
    padding: 0;

    font-size: 16px;
    box-sizing: border-box;
}

h2 {
    display: inline-block;
    margin: 1.4rem 0;
    max-width: 100%;

    text-transform: uppercase;
    font-weight: 400;
}

img {
    max-width: 100%;
}

a { 
    transition: .3s ease-in-out;
}


a.nav-link:hover, a.nav-link.active {
    color: #4dd0e1;
}

.btn.wide {
    width: 100%;
}

.btn-floating {
    position: absolute;
    bottom: 1rem;
    left: 4rem;
    transform: translate(-50%, -50%);
}

/** Specific **/
.app {    
    height: 100vh;
    overflow: hidden;
}

.part-height {
    height: 92%;
}

.full-height {
    margin: 0;
    height: 100%;
}

.nav-wrapper {
    padding-left: 2rem;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    padding-right: 1rem;
}

.actions i {
    font-size: 2rem;
}

.row {
    margin-top: 2rem;
}

.card {
    max-width: 25%;
    display: inline-block;
    margin-right: 1rem;
}

.card .card-content {
    height: 8rem;
}